.search-wrap {
    padding: 0 .8125rem;
}

.search-wrap .search-wrap__search-box {
    position: relative;
}

.search-wrap .search-wrap__search-box input {
    padding      : 1rem 2.8rem;
    border       : none;
    border-radius: 12px;
    box-shadow   : 0px 16px 30px -20px rgba(70, 96, 187, 0.198567);
    width        : 100%;
}

.search-wrap .search-wrap__search-box .search-icon {
    position: absolute;
    left    : .8125rem;
    top     : 15px;
    color   : #0079ff;
    height  : 20px;
}

.search-wrap .search-wrap__search-box .search-clear-btn {
    padding   : 8px 18px;
    font-size : 0.875rem;
    border    : none;
    transition: 0.3s ease-in-out;
    cursor    : pointer;
    position  : absolute;
    right     : 2.14%;
    top       : 6px;
    color     : gray
}