/* list */
.list-warp {
    padding: 0 .8125rem;
    height: calc(100vh - 120px);
    overflow-y:auto;
}

.list-item {
    display            : flex;
    flex-direction     : column;
    padding            : .6125rem;
    border-radius      : 12px;
    /* background-color: #fff; */
    margin             : .4rem 0;
}

.list-item .item-title {
    display      : flex;
    font         : 400 16px var(--ff);
    white-space  : nowrap;
    text-overflow: ellipsis;
}

.list-item .item-desc {
    display      : block;
    white-space  : nowrap;
    text-overflow: ellipsis;
    font         : 300 13px/1.5 var(--ff);
    color        : #777;
}

.list-loading {
    height         : 32px;
    display        : flex;
    justify-content: center;
    align-items    : center;
    width          : 100%;
    font           : 400 12px var(--ff);
    color        : #777;
}

/* action bar */
.action-warp {
    padding : 0 .8125rem;
    position: -webkit-sticky;
    /* For Safari */
    position: sticky;
    top     : 0;
    z-index : 10;
}

.action-warp-full {
    padding: 0 !important;
}

.action-warp-full .action-bar {
    border-radius: unset;
}

.action-bar {
    padding         : .8125rem;
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    height          : 50px;
    background-color: #fff;
    border-radius   : 12px;
    width           : 100%;
    margin          : .4rem 0;
}

.action-bar-left {
    display    : flex;
    gap        : .45rem;
    align-items: center;
    font       : 400 16px var(--ff);
}

.action-bar-right {
    display: flex;
    font   : 300 12px var(--ff);
}

.action-bar-play-icon {
    display          : -webkit-box;
    -webkit-box-pack : center;
    -webkit-box-align: center;
    width            : 28px;
    height           : 28px;
    border-radius    : 100%;
    background       : #31c27c;
}

.action-bar-play-icon::before {
    content      : "";
    display      : block;
    height       : 0;
    width        : 0;
    margin-right : -13px;
    border-color : transparent transparent transparent #fff;
    border-width : 7px 11px;
    border-style : solid;
    border-radius: 2px;
}