.play-bar-warp {
    padding  : 0 .8125rem;
    position : fixed;
    z-index  : 1;
    bottom   : 12px;
    right    : 0;
    left     : 0;
    max-width: 768px;
    margin   : 0 auto;
}

.play-bar {
    padding      : 0 .8125rem;
    border-radius: 12px;
    background   : #FFF;
    height       : 50px;
    display      : flex;
    align-items  : center;
}

.play-bar-left {
    display    : flex;
    align-items: center;
    gap        : .45rem;
    width      : 75%
}

.play-bar-left img {
    border-radius: 6px;
}


.play-bar-right {
    display        : flex;
    align-items    : center;
    gap            : .65rem;
    justify-content: center;
    width          : 25%;
}

.play-bar-right span {
    display        : flex;
    justify-content: center;
    align-items    : center;
    width          : 42px;
    height         : 42px;
}

.play-bar-progress {
    min-width    : 42px;
    min-height   : 42px;
    border       : 1px solid;
    border-radius: 100%;
}

.play-bar-title {
    font         : 400 16px var(--ff);
    width        : 180px;
    white-space  : nowrap;
    text-overflow: ellipsis;
    overflow     : hidden;
}

.play-bar-description {
    display      : block;
    width        : 180px;
    white-space  : nowrap;
    text-overflow: ellipsis;
    overflow     : hidden;
    font         : 300 13px/1.5 var(--ff);
    color        : #777;
}

.none-events {
    pointer-events: none;
}