.container {
    max-width: 400px;
    margin   : 0 auto;
    padding  : .8125rem 0;
}

@media (min-width: 768px) {
    .container {
        max-width: 768px;
        margin   : 0 auto;
        padding  : .8125rem 0;
    }
}